/* Changing/deleting default css properties */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
}

main {
    background-color: blue;
}

footer {
    background-color: blueviolet;
}