/* imported google typo */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* 
mobile first approach */

/* Changing/deleting default css properties */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    /* sans-serif as fallback */
    font-family: 'Lato', sans-serif;   
}

header {
    background-color: #ffffff; 
    padding: 0 1rem;
    position: fixed;
    /* to be layered on top */
    z-index: 99;
    width: 100%;
    /* horizontal offset / vertical offset / blur / color */
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    letter-spacing: 4px;
    list-style-type: none;
    font-size: 110%;
}

/* list items inside the menu */
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* nav bar burger menu */
nav {
    position: absolute;
    background-color: #ffffff;
    z-index: 99;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding-top: 1em;
    padding-left: 1rem;
    /* nav bar items hidden before user click */
    display: none;
    /* changing bc of using flexbox */
    /* top of element will start at bottom of parent */
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
main {
    background-color: deepskyblue;
    flex: 1 0 auto;
    margin-top: 47px;
}

footer {
    background-color: blueviolet;
    color: aliceblue;
}

/* media-query for tablets+  */
@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
}

    
