/* imported google typo */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Changing/deleting default css properties */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    /* sans-serif as fallback */
    font-family: 'Lato', sans-serif;   
}

header {
    background-color: pink;
}

main {
    background-color: deepskyblue;
    flex: 1 0 auto;
}

footer {
    background-color: blueviolet;
    color: aliceblue;
}